




    <!-- Social Links -->
<!--     <nav class="social-nav">
      
    </nav> -->

    <!-- Switch to full screen -->
    <button class="full-screen" onclick="$(document).toggleFullScreen()"></button>

    <!-- Site Logo -->
    <div id="logo">sysrex</div>

    <!-- Main Navigation -->
    <nav class="main-nav">
      <ul>
        <li><a href="#home" class="active">Home</a></li>
        <li><a href="#about" class="active">About</a></li>
        <li><a href="#contact" class="active">Contact</a></li>
      </ul>
    </nav>


    <!-- Home Page -->
    <section class="content show" id="home">
      <h1>Welcome</h1>
      <h5>Our new site is coming soon!</h5>
      <p>We are now porting all our tools to the open source enviroment.</p>
      <p><a href="#about">More info &#187;</a></p>
    </section>

    <!-- About Page -->
    <section class="content hide" id="about">
      <h1>About</h1>
      <h5>Here's a little about what we're up to.</h5>
      <p>Sed vitae velit lorem, et scelerisque diam.</p>
      <p><a href="#">Follow our updates on Twitter</a></p>
    </section>

    <!-- Contact Page -->
    <section>
      <div class="column">
        <h2>Stay in touch.</h2>
      </div>
      <div class="column">
        <div class="form-centered">
          <%= simple_form_for @visitor do |f| %>
            <%= f.error_notification %>
            <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
            <br/>
            <%= f.button :submit, "Sign up for the mailing list", :class => "submit" %>
          <% end %>
        </div>
      </div>
    </section>

    </script>
  </body>
</html>
