<div class="bgimg">
  <div class="middle">
    <hr>
    
    <!-- Page Content -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-offset-2">
            <h1 class="mt-5">Thanks <%= @visitor.email %>, we'll be in touch shortly!</h1>
          </div>
        </div>
      </div>
    </section>
    <p>
    <%=  link_to 'Back', root_path, class: "btn btn-warning" %>	
    </p>
  </div>
</div>
